*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-box-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #649aeb;
  color: #333;
  line-height: 1.6;
  min-height: 80vh; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}