.wrapper{
    width: 420px;
    background:white;
    color: black;
    border-radius: 40px;
    padding: 30px 40px;
}
.wrapper h1{
    text-align: center;
    font-size: 35px;
}
.wrapper .input-box{
    position: relative;
    width: 50%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    position: absolute;
    width: 200%;
    height: 80%;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px;
    border-radius: 30px;
}

.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    font-size: 14px
}
.remember-forget label input{
    accent-color: black;
    margin-right: 4x;
    
}
.remember-forget a{
    color:black;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.wrapper button{
    width: 100%;
    height: 45px;
    border: none;
    background: #649aeb;
    outline: none;
    color: white;
    font-size: 16p;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: 700;
    cursor: pointer;
}
.wrapper .register-link{
    text-align: center;
    margin: 20px 0 10px;
    font-size: 14px;
}

.register-link a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.register-link a:hover{
    text-decoration: underline;
}